//COLORI UTILIZZATI
$primaryColor: #39afbb; //(sfondo bottone, )
$secondaryColor: white; 
$thirdColor:#46525f; //(colore titoli e sottotitoli nei components del Main)
$fourthyColor:#f3f1f1; 

//VARIABILE PER GRANDEZZA CONTENITORE CONTENUTO MARGIN AUTO
$primaryWidth:60%;


//FONT TITOLI
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
// font-family: 'Open Sans', sans-serif;
$titleFont:'Open Sans', sans-serif;

// TTPE FONT
$bodyFont:'Open Sans', sans-serif