//COLOR

$primaryColor: #39afbb; //(sfondo bottone, )
$textColor: white;

// /COLOR

//FONT SIZE

$primaryFont: 1rem; //Font modificati: navbar,

// /FONT SIZE

//VARIABILE PER GRANDEZZA CONTENITORE CONTENUTO MARGIN AUTO
$primaryWidth:60%;